<section class="content-section">
  <div class="title-section">
    <div class="title-content flex-vertical-center">
      <span class="title">
        Realizar Gestión de sus Otras Novedades
      </span>

      <button mat-icon-button class="redeban-btn-help">
        <mat-icon>
          help_fill
        </mat-icon>
      </button>
    </div>


    <button mat-flat-button class="redeban-btn-consult flex-total-center">
      <mat-icon>
        search
      </mat-icon>
      <span>
        CONSULTAR
      </span>
    </button>
  </div>

  <div class="component-content flex-total-center">
    <mat-icon>
      verified
    </mat-icon>

    <div class="result-div">
      <p>
        Se ha actualizado el ticket con éxito, su número de ticket es:
      </p>

      <div class="content-copy flex-total-center">
        <span>
          24913
        </span>

        <button mat-icon-button>
          <mat-icon>
            content_copy
          </mat-icon>
        </button>
      </div>
    </div>

    <div class="message-div flex-total-center">
      Se notificó satisfactoriamente al analista y operador
    </div>

    <button mat-flat-button class="redeban-btn-accept">
      IR AL INICIO
    </button>

  </div>

</section>
