<section>
  <div class="header">
    <div class="tittle flex-total-center">
      <mat-icon class="flex-total-center">
        search
      </mat-icon>
      <span>
        Consulta
      </span>
    </div>
    <button class="close-btn" mat-icon-button (click)="closeSidebar()">
      <mat-icon>
        close
      </mat-icon>
    </button>
  </div>

  <div class="form-container">
    <form [formGroup]="formTicketsData">
      <mat-form-field appearance="outline">
        <mat-label>Número de Ticket</mat-label>
        <input matInput placeholder="Ingresar Número"
        maxlength="16"
        formControlName="ticket"
        (keypress)="validateTicketFormat($event)">
      </mat-form-field>

      <mat-form-field
      appearance="outline">
        <mat-label>Tipo de Consulta</mat-label>
        <mat-select
        formControlName="type"
        (selectionChange)="setValidations($event)">
          <mat-option [value]="0">Selecciona uno</mat-option>
          <mat-option
            *ngFor="let option of consultTicketType"
            [value]="option.order">
            {{ option.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="this.formTicketsData.get('type')?.value !== 0"
      class="input-typeId" appearance="outline">
        <mat-label>Ingrese la selección</mat-label>
        <input matInput
        formControlName="typeId"
        (keypress)="validateFormat($event)"
        [attr.maxLength]="getMaxLength()">
      </mat-form-field>

      <p class="error-message"
        *ngIf="this.formTicketsData.get('typeId')?.invalid
        && this.formTicketsData.get('typeId')?.touched">
        Campo Requerido
      </p>

      <mat-form-field
      appearance="outline">
        <mat-label>Fechas *</mat-label>
        <mat-date-range-input [rangePicker]="picker"
        [max]="maxDate"
        [min]="minDate">
          <input matStartDate
            placeholder="Fecha Inicio"
            formControlName="dateRangeStart"
            (dateChange)="blockMaxRange()">
          <input matEndDate
            placeholder="Fecha Fin"
            formControlName="dateRangeEnd">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker" (click)="setRange()"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <p class="error-message"
        *ngIf="(this.formTicketsData.get('dateRangeStart')?.invalid || this.formTicketsData.get('dateRangeEnd')?.invalid)
        && (this.formTicketsData.get('dateRangeStart')?.touched || this.formTicketsData.get('dateRangeEnd')?.touched)">
        Campo Requerido
      </p>

      <mat-form-field
      appearance="outline">
        <mat-label>Estado de Ticket</mat-label>
        <mat-select
        formControlName="noveltyState">
          <mat-option [value]="0">Selecciona uno</mat-option>
          <mat-option
            *ngFor="let option of consultTicketState"
            [value]="option.order">
            {{ option.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div class="buttons-container">
    <button
      mat-raised-button
      class="redeban-btn-cancel-sidebar"
      (click)="closeSidebar()"
      >
      Cancelar
    </button>
    <button
      mat-raised-button
      class="redeban-btn-accept"
      (click)="consult()"
      [disabled]="formTicketsData.invalid"
      [class.disabled]="formTicketsData.invalid"
    >
      Consultar
    </button>
  </div>
</section>
