<nav>
  <img src="./assets/Logo_Redeban_full.png" alt="">
  <a routerLink="/dashboard"
  routerLinkActive="link-active">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a routerLink="/gestionar-novedades"
  routerLinkActive="link-active">
    <mat-icon>batch_prediction</mat-icon>
    <span>Gestionar sus Novedades</span>
  </a>
  <a routerLink="/generacion-reportes"
  routerLinkActive="link-active">
    <mat-icon>insert_chart</mat-icon>
    <span>Generación de Reportes</span>
  </a>
  <a routerLink="/consultar-tickets"
  routerLinkActive="link-active">
    <mat-icon>find_replace</mat-icon>
    <span>Consultar Tickets</span>
  </a>
  <a routerLink="/gestionar-otras-novedades"
  routerLinkActive="link-active">
    <mat-icon>settings_applications</mat-icon>
    <span>Gestionar Otras Novedades</span>
  </a>
</nav>
