<form>


<div class="body">

  <div class="d-flex">
    Pagina Para buscar y ver resultados
    <div class="flex-v-center flex-column">
      <div class="fs-18">Pasos novedad</div>
      <div>
        <button class="btn-steps mt-3" (click)="goSteps()">Ir a pasos</button>
      </div>
      <br>
      <div>
        <button class="btn-steps mt-3" (click)="goImagenes()">Cargar Imagenes</button>
      </div>
      <br>
      <div>
        <button class="btn-steps mt-3" (click)="getFormNoveltySearch()">Consultas</button>
      </div>
      <br>
      <a href="/novelties/search-first-step">Search First Step</a>
    </div>

  </div>

</div>
</form>
