<section>
  <button class="collapsible" (click)="openCollapsComponent()">
    Configuracion Terminal
    <mat-icon [class.rotate]="showCollapsComponent === true">
      arrow_drop_down
    </mat-icon>
  </button>
  <div [class.show-hiden]="showCollapsComponent === false"
    id="collapsible-content">
    <form [formGroup]="formTerminalData">
      <mat-form-field appearance="fill">
        <mat-label>Novedad *</mat-label>
        <mat-select
        formControlName="novelty">
          <mat-option value="0">Seleccione uno</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Causal Noverdad *</mat-label>
        <mat-select
        formControlName="causalNoveltie">
          <mat-option value="0">Seleccione uno</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Load Param *</mat-label>
        <mat-select
        formControlName="loadParam">
          <mat-option value="0">Seleccione uno</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Texto Adicional</mat-label>
        <input matInput
        placeholder="Escriba aquí su texto..."
        formControlName="aditionalText">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Grupo *</mat-label>
        <mat-select
        formControlName="group">
          <mat-option value="0">Seleccione uno</mat-option>
          <mat-option value="1">Option 1</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="hiddenInputs"
        *ngIf="formTerminalData.get('group')?.value !== '0'">
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker"
          formControlName="date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Llave</mat-label>
          <mat-select
          formControlName="key">
            <mat-option value="0">Seleccione uno</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>N° Caso</mat-label>
          <input matInput
          placeholder="Escriba aquí su texto..."
          formControlName="caseNumber">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Modelo de Datáfono</mat-label>
          <mat-select
          formControlName="dataphoneModel">
            <mat-option value="0">Seleccione uno</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
</section>
