.procesar {
  border: none;
  background-color: #00339F;
  color: white;
}

.consultar {
  border-color: #4066B7;
  background-color: white;
  color: #00339F;
  border: solid;
}

.colorLetra {
  color: #1040A5;
}

.plantilla {
  color: #4482FF;
}

.botonDescarga {
  color: #FE5B3C;
  background-color: white;
}

.mat-button.mat-button-disabled.mat-button-disabled {
  color: white!important;
}

.error-back{
  background-color:#FE5B3C;
}

.error-back .letra-error{
  color:#c32303;
  font-weight: bold;


}