<section class="content-section">
  <div class="title-section">
    <div class="title-content flex-vertical-center">
      <span class="title">
        Realizar Gestión de sus Novedades
      </span>

      <button mat-icon-button class="redeban-btn-help">
        <mat-icon>
          help_fill
        </mat-icon>
      </button>
    </div>


    <button mat-flat-button
    (click)="openSideBar()"
    class="redeban-btn-consult flex-total-center">
      <mat-icon>
        search
      </mat-icon>
      <span>
        CONSULTAR
      </span>
    </button>
  </div>

  <div class="components-section">
    <div class="components-section">
      <app-no-results
      [message]="message"
      [height]="height">
      </app-no-results>
    </div>
  </div>

</section>
