mat-drawer-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  mat-drawer {
    height: 100vh;
  }

  mat-drawer-content {
    width: 100%;
    height: 100%;
  }
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;

  aside {
    position: relative;
    width: 100px;
    height: auto;

    .side-navbar {
      position: fixed;
      width: 100px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;

      img {
        margin: 15px 0;
        height: 50px;
      }

      a {
        pointer-events: none;

        mat-icon {
          width: 100%;
          height: 30px;
          text-align: center;
          font-size: 30px;
          color: #5e5e5e;
        }
      }

      .link-active {
        mat-icon {
          color: #FE502F;
        }
      }
    }
  }

  main {
    flex: 1;
    position: relative;

    app-header {
      width: 100%;
      position: sticky;
      top: 0;
      z-index: 2;
    }
  }
}