<!-- fxLayout.lt-sm="column"
fxLayout.lt-xs="column" fxLayout.lt-lg="column" fxLayout.lg="column" fxLayout.xl="column" fxLayout.lt-md="column"
fxLayout.lt-lg="column" fxLayout.lt-xl="column" fxLayout.gt-xs="column"> -->
<!-- fxHide.lt-sm fxHide.lt-xs fxHide.lt-lg fxHide.lg fxHide.xl fxHide.lt-md
         fxHide.lt-lg fxHide.lt-xl fxHide.gt-xs fxHide.gt-sm fxHide.gt-md fxHide.gt-lg> -->
<div fxLayout="row" fxLayoutGap="20px" fxLayout.md="column">
    <div fxFlex fxLayoutAlign="center" class="card" fxHide.md="true" fxHide.xs="true" fxHide.sm="true">
        <h1></h1>
    </div>
    <div fxFlex fxLayoutAlign="center" class="card">
        <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>
    </div>
    <div fxFlex fxLayoutAlign="center" class="card" fxHide.md="true" fxHide.xs="true" fxHide.sm="true">
        <h1></h1>
    </div>
</div>

<div fxLayout="row" fxLayoutGap="20px" fxLayout.gt="column">
    <div fxFlex fxLayoutAlign="center" class="card">
        <h1></h1>
    </div>
    <div fxFlex fxLayoutAlign="center" class="card" [ngClass]="condition ? 'disabled' : 'not-disabled' " >
        <div class="actionBtn" (click)="triggerSnapshot();" title="Tomar Foto" aria-disabled="true">📸</div>
    </div>
    <div fxFlex fxLayoutAlign="center" class="card">
        <div class="actionBtn" (click)="showNextWebcam(true);" title="Cambiar camera">🔁</div>
    </div>
    <div fxFlex fxLayoutAlign="center" class="card">
        <h1></h1>
    </div>
</div>