section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.form-section {
  flex-direction: column;
  width: 50%;
  gap: 60px;

  .tittle-section {
    flex-direction: column;

    span  {
      font-weight: 300;
      font-size: 27.65px;
      line-height: 36px;
      text-align: center;
      color: #00339F;
    }

    img {
      width: 450px;
    }
  }

  form {
    flex-direction: column;
    gap: 50px;

    mat-form-field {
      width: 420px;
      height: 60px;
    }

    .login-btn {
      width: 420px;
      height: 60px;
      color: white;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.75px;
      background: #00339F;
      box-shadow: 0px 4px 12px rgba(30, 35, 149, 0.24);
      border-radius: 15px;
      text-decoration: none;
      margin-top: 50px;
    }
  }

  .other-section {
    width: 420px;
    justify-content: space-between;

    mat-checkbox {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #387AFF;

      ::ng-deep.mat-checkbox-frame {
        border: 2px solid #9EBEFF;
      }
    }

    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.15px;
      text-decoration-line: underline;
      color: #FF8161;
    }
  }
}

.img-background {
  width: 50%;
  height: 100%;
  background-color: red;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


// body{
// 	margin:0;
// 	width: 100%;
// 	color:#6a6f8c;
// 	background:#c8c8c8;
// 	font:600 16px/18px 'Open Sans',sans-serif;
// }
// *,:after,:before{box-sizing:border-box}
// .clearfix:after,.clearfix:before{content:'';display:table}
// .clearfix:after{clear:both;display:block}
// a{color:inherit;text-decoration:none}

// .login-wrap{
// 	width:100%;
//     height: 100%;
// 	margin:auto;
// 	max-width:525px;
// 	min-height:670px;
// 	position:relative;
// 	background:url(https://lh6.googleusercontent.com/-a_9Yxlct8nE/Ud_A6PcsveI/AAAAAAAAARk/hsE39Mh6Ayk/w1435-h897-no/fondo+de+pantalla+de+paraiso+de+agua+12.jpg) no-repeat center;
// 	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
// }
// .login-html{
// 	width:100%;
// 	height:100%;
// 	position:absolute;
// 	padding:90px 70px 50px 70px;
// }
// .login-html .sign-in-htm,
// .login-html .sign-up-htm{
// 	top:0;
// 	left:0;
// 	right:0;
// 	bottom:0;
// 	position:absolute;
// 	transform:rotateY(180deg);
// 	backface-visibility:hidden;
// 	transition:all .4s linear;
// }
// .login-html .sign-in,
// .login-html .sign-up,
// .login-form .group .check{
// 	display:none;
// }
// .login-html .tab,
// .login-form .group .label,
// .login-form .group .button{
// 	text-transform:uppercase;
// }
// .login-html .tab{
// 	font-size:22px;
// 	margin-right:15px;
// 	padding-bottom:5px;
// 	margin:0 15px 10px 0;
// 	display:inline-block;
// 	border-bottom:2px solid transparent;
// }
// .login-html .sign-in:checked + .tab,
// .login-html .sign-up:checked + .tab{
// 	color:#fff;
// 	border-color:#1161ee;
// }
// .login-form{
// 	min-height:345px;
// 	position:relative;
// 	perspective:1000px;
// 	transform-style:preserve-3d;
// }
// .login-form .group{
// 	margin-bottom:15px;
// }
// .login-form .group .label,
// .login-form .group .input,
// .login-form .group .button{
// 	width:100%;
// 	color:#fff;
// 	display:block;
// }
// .login-form .group .input,
// .login-form .group .button{
// 	border:none;
// 	padding:15px 20px;
// 	border-radius:25px;
// 	background:rgba(255,255,255,.1);
// }
// .login-form .group input[data-type="password"]{
// 	text-security:circle;
// 	-webkit-text-security:circle;
// }
// .login-form .group .label{
// 	color:#aaa;
// 	font-size:12px;
// }
// .login-form .group .button{
// 	background:#1161ee;
// }
// .login-form .group label .icon{
// 	width:15px;
// 	height:15px;
// 	border-radius:2px;
// 	position:relative;
// 	display:inline-block;
// 	background:rgba(255,255,255,.1);
// }
// .login-form .group label .icon:before,
// .login-form .group label .icon:after{
// 	content:'';
// 	width:10px;
// 	height:2px;
// 	background:#fff;
// 	position:absolute;
// 	transition:all .2s ease-in-out 0s;
// }
// .login-form .group label .icon:before{
// 	left:3px;
// 	width:5px;
// 	bottom:6px;
// 	transform:scale(0) rotate(0);
// }
// .login-form .group label .icon:after{
// 	top:6px;
// 	right:0;
// 	transform:scale(0) rotate(0);
// }
// .login-form .group .check:checked + label{
// 	color:#fff;
// }
// .login-form .group .check:checked + label .icon{
// 	background:#1161ee;
// }
// .login-form .group .check:checked + label .icon:before{
// 	transform:scale(1) rotate(45deg);
// }
// .login-form .group .check:checked + label .icon:after{
// 	transform:scale(1) rotate(-45deg);
// }
// .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
// 	transform:rotate(0);
// }
// .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
// 	transform:rotate(0);
// }

// .hr{
// 	height:2px;
// 	margin:60px 0 50px 0;
// 	background:rgba(255,255,255,.2);
// }
// .foot-lnk{
// 	text-align:center;
// }

// html {
// 	height: 100%;
//   }
//   body {
// 	margin:0;
// 	padding:0;
// 	font-family: sans-serif;
// 	background: linear-gradient(#141e30, #243b55);
//   }

//   .login-box {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	width: 350px;
// 	padding: 40px;
// 	transform: translate(-50%, -50%);
// 	background: rgba(0,0,0,.5);
// 	box-sizing: border-box;
// 	box-shadow: 0 15px 25px rgba(0,0,0,.6);
// 	border-radius: 10px;
//   }

//   .login-box h2 {
// 	margin: 0 0 30px;
// 	padding: 0;
// 	color: #fff;
// 	text-align: center;
//   }

//   .login-box .user-box {
// 	position: relative;
//   }

//   .login-box .user-box input {
// 	width: 100%;
// 	padding: 10px 0;
// 	font-size: 16px;
// 	color: #fff;
// 	margin-bottom: 30px;
// 	border: none;
// 	border-bottom: 1px solid #fff;
// 	outline: none;
// 	background: transparent;
//   }
//   .login-box .user-box label {
// 	position: absolute;
// 	top:0;
// 	left: 0;
// 	padding: 10px 0;
// 	font-size: 16px;
// 	color: #fff;
// 	pointer-events: none;
// 	transition: .5s;
//   }

//   .login-box .user-box input:focus ~ label,
//   .login-box .user-box input:valid ~ label {
// 	top: -20px;
// 	left: 0;
// 	color: #03e9f4;
// 	font-size: 12px;
//   }

//   .login-box form a {
// 	position: relative;
// 	display: inline-block;
// 	padding: 10px 20px;
// 	color: #03e9f4;
// 	font-size: 16px;
// 	text-decoration: none;
// 	text-transform: uppercase;
// 	overflow: hidden;
// 	transition: .5s;
// 	margin-top: 40px;
// 	letter-spacing: 4px
//   }

//   .login-box a:hover {
// 	background: #03e9f4;
// 	color: #fff;
// 	border-radius: 5px;
// 	box-shadow: 0 0 5px #03e9f4,
// 				0 0 25px #03e9f4,
// 				0 0 50px #03e9f4,
// 				0 0 100px #03e9f4;
//   }

//   .login-box a span {
// 	position: absolute;
// 	display: block;
//   }

//   .login-box a span:nth-child(1) {
// 	top: 0;
// 	left: -100%;
// 	width: 100%;
// 	height: 2px;
// 	background: linear-gradient(90deg, transparent, #03e9f4);
// 	animation: btn-anim1 1s linear infinite;
//   }

//   @keyframes btn-anim1 {
// 	0% {
// 	  left: -100%;
// 	}
// 	50%,100% {
// 	  left: 100%;
// 	}
//   }

//   .login-box a span:nth-child(2) {
// 	top: -100%;
// 	right: 0;
// 	width: 2px;
// 	height: 100%;
// 	background: linear-gradient(180deg, transparent, #03e9f4);
// 	animation: btn-anim2 1s linear infinite;
// 	animation-delay: .25s
//   }

//   @keyframes btn-anim2 {
// 	0% {
// 	  top: -100%;
// 	}
// 	50%,100% {
// 	  top: 100%;
// 	}
//   }

//   .login-box a span:nth-child(3) {
// 	bottom: 0;
// 	right: -100%;
// 	width: 100%;
// 	height: 2px;
// 	background: linear-gradient(270deg, transparent, #03e9f4);
// 	animation: btn-anim3 1s linear infinite;
// 	animation-delay: .5s
//   }

//   @keyframes btn-anim3 {
// 	0% {
// 	  right: -100%;
// 	}
// 	50%,100% {
// 	  right: 100%;
// 	}
//   }

//   .login-box a span:nth-child(4) {
// 	bottom: -100%;
// 	left: 0;
// 	width: 2px;
// 	height: 100%;
// 	background: linear-gradient(360deg, transparent, #03e9f4);
// 	animation: btn-anim4 1s linear infinite;
// 	animation-delay: .75s
//   }

//   @keyframes btn-anim4 {
// 	0% {
// 	  bottom: -100%;
// 	}
// 	50%,100% {
// 	  bottom: 100%;
// 	}
//   }
