.container {
  width: 100%;
  background-color: #F1F3F5;
  border-radius: 15px;
  flex-direction: column;

  img {
    width: 150px;
  }

  span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    color: #434445;
  }
}
