<div class="form-container">

  <div class="form-panel-heading">
    Información Comercio
  </div>

  <div class="form-panel-body flex-center-style">
    <div class="containerarriba">
      <div class="divdataarriba">
        <strong class="dataheader">Código Único</strong>
      </div>
      <div class="divdataarriba">
        <strong class="dataheader">Nombre</strong>
      </div>
      <div class="divdataarriba">
        <strong class="dataheader">Dir. del Comercio</strong>
      </div>
      <div class="divdataarriba">
        <strong class="dataheader">Ciudad</strong>
      </div>
      <div class="divdataarriba">
        <strong class="dataheader">Regional</strong>
      </div>
      <div class="divdataarriba">
        <strong class="dataheader">Seccional</strong>
      </div>
    </div>
    <div class="containerabajo">
      <div class="divdataabajo">
        <strong class="datainf">{{uniquecode}}</strong>
      </div>
      <div class="divdataabajo">
        <strong class="datainf">{{name}}</strong>
      </div>
      <div class="divdataabajo">
        <strong class="datainf">{{address}}</strong>
      </div>
      <div class="divdataabajo">
        <strong class="datainf">{{city}}</strong>
      </div>
      <div class="divdataabajo">
        <strong class="datainf">{{regional}}</strong>
      </div>
      <div class="divdataabajo">
        <strong class="datainf">{{selectional}}</strong>
      </div>
    </div>
  </div>

</div>
