section {
  .collapsible {
    width: 100%;
    background-color: #d9d9d9;
    color: #727272;
    font-weight: 600;
    text-align: center;
    padding: 12px;
    border: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    mat-icon {
      position: absolute;
      font-size: 30px;
      top: 15%;
      right: 20px;
      transition: all ease 0.25s;
    }

    .rotate {
      transform: rotate(180deg);
      top: 30%;
    }
  }

  .collapsible:hover {
    background-color: #888888;
    color: white;
  }

  #collapsible-content {
    padding: 1.5vh 3vh;
    border: 1px solid #d9d9d9;

    .info-data {
      width: 100%;
      font-size: 15px;
      display: flex;
      justify-content: space-around;
      margin: 1.5vh 0;

      .data, .info {
        width: 45%;
      }

      .data {
        font-weight: 600;
      }

      .info {
        overflow-wrap: break-word;
      }
    }
  }

  .show-hiden {
    display: none;
    overflow: hidden;
  }
}
